$fontPrincipal: 'Roboto', sans-serif;
$fontSecundaria: 'Bebas Neue', sans-serif;
$corFundo: #FFD43A;
$corFundoSecundaria:#FF921C;
$corFont: #30180a;
$corFontHover:#683619;
$corBotao: #FFCE32;
$corBotaoHover: #c29f2e;
